<article>
    <h1>{{post.title}}</h1>
    <div class="meta">
        <span class="date">
            <time datetime="{{post.published_at}}">{{post.published_at_str}}</time>
        </span>
        {{> tags tags=post.tags}}
        <p class="comments">
            <a href="{{post.url}}#comments">Comments ({{ post.comments_count }})</a>
        </p>
        {{#if post.reading_time}}
        <div class="reading-time">
            {{post.reading_time}}
        </div>
        {{/if}}
    </div>
    {{# if post.series}}
    <p>
        This post is part of <a href="{{post.series_url}}">{{post.series}}</a> series.
    </p>
    {{/if}}    
    {{{post.content}}}
</article>
<hr />
<section>
    <a name="comments"></a>
    {{#if post.comments}}
        <h2>Comments</h2>
    {{/if}}
    <ul class="list-unstyled" id="comments-container">
    {{#each post.comments}}
        {{> comment this index=@index }}
    {{/each}}
    </ul>
    {{# if post.allow_comments}}
        {{> comment-form}}
        <button id="btn-add-comment" class="btn btn-primary btn-add-comment" style="margin-top: 20px" type="button" onclick="onClickReply()">Leave a new comment</button>
    {{else}}
        <h2>Comments are now closed</h2>
    {{/if}}
</section>
<script>
$(function() {
  $('article img').each(function() {
    var href = $(this).attr('src');
    $(this).replaceWith($('<a data-fancybox="gallery" href="' + href + '"><img src="' + href + '"></a>'));
  });
});
</script>
