<div id="comment-form" class="comments-widget__form">
  <h2>Leave a Comment</h2>
  <form method="post">
    {{#if comments.error}}
    <div class="alert alert-danger">
      {{comments.error}}
    </div>
    {{/if}}    
    <div class="form-group my-3">
      <label for="inputAuthor">Name *</label>
      <input type="text" class="form-control" id="inputAuthor"
      placeholder="Your Name" name="author" value="{{comments.values.author}}">
    </div>
    <div class="form-group my-3">
      <label for="inputEmail">Email *</label>
      <input type="email" class="form-control" id="inputEmail"
      placeholder="example@example.com" name="email" value="{{comments.values.email}}">
    </div>
    <div class="form-group my-3">
      <label for="inputWebsite">Website </label>
      <input type="text" class="form-control" id="inputWebsite"
      placeholder="http://website.com" name="website" value="{{comments.values.website}}">
    </div>
    <div class="form-group my-3">
      <label for="textareaContent">Your Comment</label>
      <textarea class="form-control" id="textareaContent" name="content"
      rows="6">{{comments.values.content}}</textarea>
    </div>
    <div class="form-group my-3">
      <div class="g-recaptcha" data-sitekey="{{recaptchaClientKey}}"></div>
    </div>
    <input id="recipient-hidden-input" type="hidden" name='recipient_comment_id'>
    <button type="submit" class="btn my-3 submit-comment">Submit</button>
    <button style="display: none;" type="button" class="btn my-3 cancel-comment" onclick="onClickReply()">Cancel</button>
  </form>
</div>

<script type="text/javascript">
    window.COMMENTS_RECIPIENT_COMMENT_ID = '{{{comments.values.recipient_comment_id}}}';
    window.COMMENTS_ERROR = '{{{comments.error}}}';
</script>
<script src="/static/base/js/comments.js"></script>
