<form action="" method="POST">
  {{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
  {{/if}}
  {{#if success}}
  <div class="alert alert-success">
    Your message is sent
  </div>
  {{/if}}
  <div class="form-row">
    <div class="form-group {{validity.name}} col-md-6">
      <label for="inputName">Name</label>
      <input type="text" name='name' value="{{values.name}}" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-group {{validity.email}} col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" name='email' value="{{values.email}}" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group {{validity.subject}} col-md-12">
      <label for="inputSubject">Subject</label>
      <input type="subject" name='subject' value="{{values.subject}}" class="form-control" id="inputSubject" placeholder="Subject">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group {{validity.content}} col-md-12">
      <textarea name='content' class="form-control">{{values.content}}</textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="g-recaptcha" data-sitekey="{{recaptchaClientKey}}"></div>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group col-md-12">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>