<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="/static/base/css/style.css">
<link rel="stylesheet" href="/static/base/vendor/shareSelectedText.min.css">
<title>{{#if title}}{{title}}{{else}}{{blogDescription}}{{/if}} - {{blogTitle}}</title>

{{#if description}}
    <meta name="Description" content="{{description}}">
{{/if}}
{{#if canonicalUrl}}
    <link rel="canonical" href="{{canonicalUrl}}" />
{{/if}}
{{#unless isLocalhost}}
    <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-inline'">
{{/unless}}

<link rel="shortcut icon" href="/static/base/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/static/base/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/base/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/base/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/base/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/base/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link id="AtomLink" title="RSS" type="application/rss+xml" rel="alternate" href="{{blogRoutePrefix}}/rss">

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/static/base/vendor/shareSelectedText.min.js"></script>
{{> google-analytics}}