<article class="post">
  <h1 class="post-title">
    <a href="{{this.url}}">{{this.title}}</a>
  </h1>
  {{#if this.reading_time}}
  <div class="reading-time">
    {{this.reading_time}}
  </div>  
  {{/if}}  
  <div class="row">
    <div class="col-lg-12">
      {{{truncateHtml this.content 1100}}}
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8">
        <span class="date">
          <time datetime="{{this.published_at}}">{{this.published_at_str}}</time>
        </span>
        <span class="comments">
          <a href="{{this.url}}#comments">{{#if this.comments_count}}Comments ({{ this.comments_count }}){{else}}No Comments{{/if}}</a>
        </span>
        <br>
        {{> tags tags=this.tags}}
        {{#if this.series}}
          <p>
            Part of <a href="{{this.series_url}}">{{this.series}}</a> series.
          </p>
        {{/if}}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 read-more">
        <a href="{{this.url}}" class="pull-right">Read more »</a>
      </div>
    </div>
  </div>
</article>
